.button {
    background: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    width: 170px;
}

.button:hover {
    background: #7b72af;
    transform: scale(1.1);
    color: black;
}

.primary {
    border: 2px solid #7b72af;
    background: #7b72af;
    color: black;
}

.secondary {
    border: 2px solid #7b72af;
    color: #7b72af;
}

.button > h4 {
    padding: 0;
    margin: 15px;
    font-weight: 900;
    font-family: Comfortaa-Bold;
}

.buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
    margin: 50px auto;
}

/* Media query below 800px width */
@media screen and (max-width: 800px) {
    .buttons {
        width: 100vw;
    }

    .button {
        width: 160px;
    }
}